
@{
    ViewBag.Title = "Aula";
}
<br />
<h4>Curso (x) - Aula 01</h4>

<div class="row">
    <div class="col-9">
        <video width="800" height="400" controls>
            <source src="movie.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div style="overflow:scroll;height:400px;width:100%;overflow:auto;border-style:outset">

             
            <table border="0" class="my-table">
                <tr>
                    <td>
                        <a class="btn-floating btn-large pulse"><i class="material-icons">check_box</i></a> Dia 1<a class="btn-floating btn-small blue darken-4"><img src="~/Images/icon-plus.PNG" class="float-right" /></a>

                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn-floating btn-large pulse"><i class="material-icons">check_box</i></a> Dia 2<a class="btn-floating btn-small blue darken-4"><img src="~/Images/icon-plus.PNG" class="float-right" /></a>

                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn-floating btn-large pulse"><i class="material-icons">check_box_outline_blank</i></a> Dia 3<a class="btn-floating btn-small blue darken-4"><img src="~/Images/icon-plus.PNG" class="float-right" /></a>

                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn-floating btn-large pulse"><i class="material-icons">check_box_outline_blank</i></a> Dia 4 <a class="btn-floating btn-small blue darken-4"><img src="~/Images/icon-plus.PNG" class="float-right" /></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn-floating btn-large pulse"><i class="material-icons">check_box_outline_blank</i></a> Dia 5 <a class="btn-floating btn-small blue darken-4"><img src="~/Images/icon-plus.PNG" class="float-right" /></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn-floating btn-large pulse"><i class="material-icons">check_box_outline_blank</i></a> Dia 6 <a class="btn-floating btn-small blue darken-4"><img src="~/Images/icon-plus.PNG" class="float-right" /></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn-floating btn-large pulse"><i class="material-icons">check_box_outline_blank</i></a> Dia 7  <a class="btn-floating btn-small blue darken-4"><img src="~/Images/icon-plus.PNG" class="float-right" /></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn-floating btn-large pulse"><i class="material-icons">check_box_outline_blank</i></a> Dia 8 <a class="btn-floating btn-small blue darken-4"><img src="~/Images/icon-plus.PNG " class="float-right" /></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn-floating btn-large pulse"><i class="material-icons">check_box_outline_blank</i></a> Dia 9 <a class="btn-floating btn-small blue darken-4"><img src="~/Images/icon-plus.PNG" class="float-right" /></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn-floating btn-large pulse"><i class="material-icons">check_box_outline_blank</i></a> Dia 10 <a class="btn-floating btn-small blue darken-4"><img src="~/Images/icon-plus.PNG" class="float-right" /></a>
                    </td>
                </tr>
            </table>
        </div>

        <h5>
        </h5>
    </div>
</div> <!-- IMPORT DE MATERIALIZECESS-->
<environment include="Development">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</environment>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
 